.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

input[type=radio] + label {
  color: #020202;
}
input[type=radio]:checked + label{
  color: #31c693;
  font-weight: bold;
   font-size: large;
}
