 body {
    padding: 25px;
}

.tab {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab:after {
  content: "";
  clear: both;
}

.pab {
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
  height: 70px;
  position: relative;
  width: 120px;
}

.pab label {
  background: #fff no-repeat center center;
  bottom: 1px;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 1px;
  position: absolute;
  right: 1px;
  text-indent: 100%;
  top: 1px;
  white-space: nowrap;
}

.pab + .pab {
  margin-left: 25px;
}

.lab1 label {
  background: white;
}

.lab label {
  background:white;
  backface-visibility: visible;
}


.tab input:focus + label {
  outline: 2px dotted #21b4d0;
}

.tab input:checked + label {
  outline: 4px solid #21b4d0;
}

.tab input:checked + label:after {
  background: wheat;
  bottom: -10px;
  content: "";
  display: inline-block;
  height: 20px;
  position: absolute;
  right: -10px;
  width: 20px;
}

@-moz-document url-prefix() {
  .payment-methods input:checked + label:after {
    bottom: 0;
    right: 0;
    background-color: #21b4d0;
  }
}