{% extends "template_head.html" %}

{% block conteudo %}
<div style="padding-left: 150px">
    <form method="post" action="calcularavch">
    <table class="table table-condensed" style="width: 500px; height: 200px;">
        <thead style="background: #e2f8f6">
        <tr>
            <th>Dado Clínico</th>
            <th>Achado</th>
            <th>Pontuação</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td rowspan="3">Glasgow</td>

            <td>
                <input type="radio" value="2" name="ecg" id="ecg1" hidden="hidden"/>
                <label for="ecg1">

                    3 - 4
                </label>
            </td>
            <td>2</td>
        </tr>
        <tr>
            <td>
                 <input type="radio" value="1" name="ecg" id="ecg2" hidden="hidden"/>
                    <label for="ecg2">

                         5 - 12 
                    </label>
                
            </td>
            <td>1</td>
        </tr>
        <tr>
            <td>
                <input type="radio" value="0" name="ecg" id="ecg3" hidden="hidden"/>
                
                    <label for="ecg3">

                         13 - 15 
                    </label>
                
            </td>
            <td>0</td>
        </tr>
        <tr>
            <td rowspan="2">Idade</td>
            <td>
                 <input type="radio" value="1" name="idade" id="idade1" hidden="hidden"/>
                <label for="idade1">

                     >=80 
                </label>
            
            </td>
            <td>1</td>
        </tr>
        <tr>
            <td>

                    <input type="radio" value="0" name="idade" id="idade2" hidden="hidden"/>
                <label for="idade2">

                     <80 
                </label>
            </td>
            <td>0</td>
        </tr>
        <tr>
            <td rowspan="2">Local do Hematoma</td>
            <td>
                  <input type="radio" value="1" name="lh" id="lh1" hidden="hidden"/>
                    <label for="lh1">

                        Infratentorial
                    </label>
                
            </td>
            <td>1</td>
        </tr>
        <tr>
            <td>
                 <input type="radio" value="0" name="lh" id="lh2" hidden="hidden"/>
                <label for="lh2">

                    Supratentorial
                </label>
            </td>
            <td>0</td>
        </tr>
        <tr>
            <td rowspan="2">Volume do Hematoma</td>
            <td>
                    <input type="radio" value="1" name="vl_hm" id="vl_hm1" hidden="hidden"/>
                    <label for="vl_hm1">

                         >= 30 
                    </label>
                
            </td>
            <td>1</td>
        </tr>
        <tr>
            <td>
                   <input type="radio" value="0" name="vl_hm" id="vl_hm2" hidden="hidden"/>
                    <label for="vl_hm2">

                         <30 
                    </label>
                
            </td>
            <td>0</td>
        </tr>
        <tr>
            <td rowspan="2">Hemoventrículo</td>
            <td>
                 <input type="radio" value="1" name="hemo" id="hemo1" hidden="hidden"/>
                <label for="hemo1">

                    Sim
                </label>
            
            <td>1</td>
        </tr>
        <tr>
            <td>
                 <input type="radio" value="0" name="hemo" id="hemo2" hidden="hidden"/>
                <label for="hemo2">

                    Não
                </label>
            
            <td>0</td>
        </tr>

        </tbody>
    </table>
     <div style="padding-left: 200px; padding-top: 10px">
    <input class="btn-primary btn-lg font-weight-bold" type="submit" value="Calcular">
    </div>
</form>
</div>
{% endblock %}
