{% extends "template_head.html" %}

{% block conteudo %}

<div class="row">
    <div style="padding-left: 650px" class=" col col-sm-12">
        <button id="content" class="button btn-dark" style="font-size: large;width: 200px">Calcular Glasgow P</button>
    </div>

    <div class="col-8" style="padding-left: 50px; padding-right: 150px;">
        <form method="post" action="calcularecg">
            <table class="table table-condensed" style="width: 500px">
                <thead>
                <tr>
                    <th>Parâmetos</th>
                    <th>Respostas Observadas</th>
                    <th>Pontuação</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                    <td rowspan="4">Abertura Ocular</td>

                    <td>
                        <input type="radio" value="4" name="ck_ab" id="ck_ab1" hidden="hidden" />
                        <label for="ck_ab1"> Espontânea</label>
                    </td>
                    <td><label name="ck_ab" for="ck_ab1">4</label></td>
                </tr>
                <tr>
                    <td>
                       <input type="radio" id="ck_ab2" name="ck_ab" value="3" hidden="hidden">
                        <label for="ck_ab2">Ao estimulo verbal</label>
                    </td>
                    <td><label for="ck_ab2">3</label></td>
                </tr>
                <tr>
                    <td>
                         <input type="radio" value="2" name="ck_ab" id="ck_ab3" hidden="hidden"/>
                         <label for="ck_ab3">Ao estímulo doloroso</label>

                    </td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>
                         <input type="radio" value="1" name="ck_ab" id="ck_ab4" hidden="hidden"/>
                        <label for="ck_ab4">Nenhuma</label>
                    </td>
                    <td>1</td>
                </tr>
                <tr>
                    <td rowspan="5">Respota Verbal</td>
                    <td>
                         <input type="radio" value="5" name="ck_rv" id="ck_rv1" hidden="hidden"/>
                        <label for="ck_rv1">
                          Orientada
                        </label>
                    
                    <td>5</td>
                </tr>
                <tr>
                    <td>
                         <input type="radio" value="4" name="ck_rv" id="ck_rv2" hidden="hidden"/>
                        <label for="ck_rv2">Confusa</label>
                    </td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>
                          <input type="radio" value="3" name="ck_rv" id="ck_rv3" hidden="hidden"/>
                            <label for="ck_rv3">
                                Palavras Inapropriadas
                            </label>
                        
                    </td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>
                         <input type="radio" value="2" name="ck_rv" id="ck_rv4" hidden="hidden"/>
                            <label for="ck_rv4">
                                Sons Incompreenssiveis
                            </label>
                        
                    </td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>
                         <input type="radio" value="1" name="ck_rv" id="ck_rv5" hidden="hidden"/>
                            <label for="ck_rv5">  Nenhuma</label>
                    </td>
                    <td>1</td>
                </tr>
                <tr>
                    <td rowspan="6">Resposta Motora</td>
                    <td>
                          <input type="radio" value="6" name="ck_rm" id="ck_cm1" hidden="hidden"/>
                        <label for="ck_cm1">Obedece Comandos</label>
                    </td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>
                         <input type="radio" value="5" name="ck_rm" id="ck_cm2" hidden="hidden"/>
                        <label for="ck_cm2">Localiza à dor</label>
                    
                    <td>5</td>
                </tr>
                <tr>

                    <td>
                         <input type="radio" value="4" name="ck_rm"  id="ck_cm3" hidden="hidden"/>
                        <label for="ck_cm3">
                           Movimento de retirada
                        </label>
                    
                    <td>4</td>
                </tr>
                <tr>
                  <td>
                       <input type="radio" value="3" name="ck_rm" id="ck_cm4" hidden="hidden"/>
                        <label for="ck_cm4">Flexão Anormal
                        </label>
                    <td>3</td>
                </tr>
                    <tr>
                    <td>
                          <input type="radio" value="2" name="ck_rm" id="ck_cm5" hidden="hidden"/>
                        <label for="ck_cm5">

                            Extensão Anormal
                        </label>
                    
                    <td>2</td>
                </tr>
                 <tr>

                    <td>
                         <input type="radio" value="1" name="ck_rm" id="ck_cm6" hidden="hidden"/>
                        <label for="ck_cm6">
                            Nenhuma
                        </label>
                    
                    <td>1</td>
                </tr>

                </tbody>
            </table>
            <div style="padding-left: 200px; padding-top: 10px">
                <input class="btn-primary btn-lg font-weight-bold" type="submit" value="Calcular">
            </div>
        </form>
    </div>

     <div id="div-gp" style="display:none;" class="col-4">
        <form action="calculaecgp" id="form-gp" style="width: 300px;border-style: outset;">
            <p class="font-weight-bold">Reação Púpilar Esquerda</p>
            <label class="radio-inline">
                <input type="radio" value="1" name="pp_es">Presente
            </label>
            <label class="radio-inline">
                <input type="radio" value="0" name="pp_es">Ausente
            </label>
            <p class="font-weight-bold">Reação Púpilar Direita</p>
            <label class="radio-inline">
                <input type="radio" value="1" name="pp_dr">Presente
            </label>
            <label class="radio-inline">
                <input type="radio" value="0" name="pp_dr">Ausente
            </label>
            <input type="hidden" name="resultado" value="{{ resultado }}">
            <div style="padding-left: 200px; padding-top: 10px; padding-bottom: 10px;">
                <input class="btn-primary  font-weight-bold" type="submit" value="Calcular">
            </div>
        </form>
    </div>
</div>

{% endblock %}