{% extends "template_head.html" %}

{% block conteudo %}
  <h2 style="text-align: center; margin-bottom: 20px;">Estatística</h2>
<figure class="figure figure-img">
  <figcaption class="figure-caption" style="text-align: center">Quatidade de total de cada escala</figcaption>
  <img src="static/img/total.png" class="img-responsive" alt="Cinque Terre" width="350" height="300">
</figure>
{% endblock %}
