{% extends "template_head.html" %}

{% block conteudo %}
<div style="padding-left: 150px">
</div>
<div class="row">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header"></div>
        <div class="card-body">
            <h3 class="card-title">ECG</h3>
            <p class="card-text">Escala de Coma de Glasgow</p>
            <a style="color: white; font-size: 20px; padding-left: 150px; font-weight: bold" href="ecg">Acessar</a>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem; margin-left: 20px;">
        <div class="card-header"></div>
        <div class="card-body">
            <h3 class="card-title">AVCH</h3>
            <p class="card-text">Acidente Vascular Cerebral Hemorrágico</p>
            <a style="color: white; font-size: 20px; padding-left: 150px; font-weight: bold;" href="avch">Acessar</a>
        </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 18rem; margin-left: 20px;">
        <div class="card-header"></div>
        <div class="card-body">
            <h3 class="card-title">TLICS</h3>
            <p class="card-text">Thoracolumbar injury classification and severity score</p>
            <a style="color: white; font-size: 20px; padding-left: 150px; font-weight: bold;" href="tilics">Acessar</a>
        </div>
    </div>
    <br>
    <p style="font-style: italic">Projeto realiza cálculo de escalas neurológicas. Salva em banco de dados. Gera
        relatório e exibi gráfico do total de cada escala. </p>
        <p>Alunos: <br>Jeane Souza Santos  - RA: 415102784
        <br>Matheus  Alves de Oliveira - RA: 415108474
        <br>Nicole Genova Barbosa - RA: 315111223
        <br>Mayane Mesquita - RA: 2215111466
    </p>
    <hr>
    <p>Bibliotecas utilizadas: <br>Flask 0.12 1.0.2
        <br>Flask-MySQL 1.4.0 1.4.0
        <br>Flask-SQLAlchemy 2.3.2 2.3.2
        <br>matplotlib.pypl
        <br>Interpretador Python 3
    </p>
</div>
{% endblock %}