{% extends "template_head.html" %}

{% block conteudo %}
<form action="listar" method="get">
<div class="form-check-inline">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="escala" value="ecg">ECG
  </label>
</div>
<div class="form-check-inline">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="escala" value="avch">AVCH
  </label>
</div>
<div class="form-check-inline">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="escala" value="tilics">TLICS
  </label>
</div>
    <div class="form-check-inline" style="padding-top: 10px">
         <input class="btn-primary btn-outline-primary" type="submit" value="Filtrar">
     </div>
</form>

<h5>{{avch}}</h5>
<table class="table table-striped">
    <thead>
    <th>Código</th>
    <th>Escala</th>
    <th>Pontuação</th>
    <th>Status/Procedimentos</th>
    <th>Idade</th>
    <th>Sexo</th>
    </thead>
    <tbody>
    {% for relatorios in relatorio %}
    <tr>
        <td>{{relatorios.id}}</td>
        <td class="text-uppercase">{{relatorios.escala}}</td>
        <td>{{relatorios.resultado}}</td>
        <td>{{relatorios.legenda}}</td>
        <td>{{relatorios.idade}}</td>
        <td>{{relatorios.sexo}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}