
<div class="col-sm-8" id="div-resultado" style="display: none; padding-left: 150px">
    <form action="cadastrar_resultado" method="post">
        <h5 style="text-align: center; background: #1e7e34; color: white">Resultado</h5>
    <div>
        <input type="hidden" name="escala" value="{{escala}}">
        <label class="checkbox-inline"><input type="text" id="resultado" name="resultado" value="{{resultado}}" hidden="hidden"><span class="font-weight-bold">Pontuação:</span> {{ resultado }}</label>
        <label class="checkbox-inline"><input type="text" name="legenda" value="{{legenda}}" hidden="hidden"><span class="font-weight-bold">&nbsp;Status/Procedimentos: </span>{{ legenda }}</label>
    </div>
        <div class="form-group row">
            <div class="col-sm-3" >
                <label class="font-weight-bold" for="idade">Idade: </label>
                <input class="form-control" id="idade" name="idade" type="text" >
            </div>
            <div class="col-xs-3">
                <label class="font-weight-bold" for="sexo">Sexo: </label>
                <select class="form-control" id="sexo" name="sexo">
                    <option name="sexo" value=""></option>
                    <option name="sexo" value="M">Masculino</option>
                    <option name="sexo" value="F">Feminino</option>
                </select>
            </div>
        </div>
         <input class="btn btn-success" type="submit" value="Salvar">
    </form>
</div>

<div class="col-sm-12" id="div-retorno" style="padding-left: 150px">
         <h5 style="color: #1e7e34" id="retorno">{{retorno}}</h5>
         <h6 style="color: red" id="retornoErro">{{ retornoErro }}</h6>
</div>

{% block conteudo %} {% endblock %}