<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilo.css') }}">
    <script src="{{ url_for('static', filename = 'js/jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/ecg.js') }}"></script>
    <title>Escalas Neurológicas</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Escalas Neurológicas</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="listar">Relatórios <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="graficos">Gráficos</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="page-header"1 style="padding-bottom: 20px; padding-top: 10px; ">
        <h4 style="text-align: center">{{ titulopagina }}</h4> <!--Parâmetro - Deixa o título de forma dinâmica-->
    </div>
{% extends "template_resultado.html" %}

</div>
</body>
</html>