{% extends "template_head.html" %}
{% block conteudo %}
<form method="post" action="calculartilix">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Morfologia da fratura
                </div>
                <div class="card-body">
                    <h6 class="card-title">Tipo </h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <input type="radio" name="mf" value="1" id="mf1" hidden="hidden">
                            <label for="mf1">Compressão
                            </label>
                        </li>
                        <li class="list-group-item">
                              <input type="radio" name="mf" value="1" id="mf2" hidden="hidden">
                            <label for="mf2">Explosão
                            </label>
                        </li>
                        <li class="list-group-item">
                              <input type="radio" name="mf" value="2" id="mf3" hidden="hidden">
                            <label for="mf3">Translacional/rotacional
                            </label>
                        </li>
                        <li class="list-group-item">
                                <input type="radio" name="mf" value="3" id="mf4" hidden="hidden">
                            <label for="mf4">
                                 Distração  
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Complexo Ligamentar Posterior
                </div>
                <div class="card-body">
                    <h6 class="card-title">Estado</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                             <input type="radio" name="clp" value="0" id="clp1" hidden="hidden">
                             <label for="clp1">Intacto</label>
                        </li>
                        <li class="list-group-item">
                            <input type="radio" name="clp" id="clp2" value="1" hidden="hidden">
                            <label for="clp2"> Suspeito/indeterminado 
                            </label>
                        </li>
                        <li class="list-group-item">
                                   <input type="radio" name="clp" value="2" id="clp3" hidden="hidden">
                            <label for="clp3">Comprometido </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Estado Neurológico
                </div>
                <div class="card-body">
                    <h6 class="card-title">Envolvimento </h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                             <input type="radio" name="en" value="0" id="en1" hidden="hidden">
                            <label for="en1">Intacto
                            </label>
                        </li>
                        <li class="list-group-item">
                             <input type="radio" name="en" value="2" id="en2" hidden="hidden">
                            <label for="en2">Raiz Nervosa
                            </label>
                        </li>
                        <li class="list-group-item">
                               <input type="radio" name="en" value="2" id="en3" hidden="hidden">
                            <label for="en3">Déficit
                            </label>
                        </li>
                        <li class="list-group-item">
                            <input type="radio" name="en" id="en4" value="3" hidden="hidden">
                            <label for="en4">Cauda eqüina
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-left: 450px; padding-top: 20px">
    <input class="btn-primary btn-lg" type="submit" value="Calcular">
    </div>
</form>
{% endblock %}